@model IEnumerable<Smart_Attendance_System.Models.Department>

@{
    ViewData["Title"] = "Department Management";
    Layout = "_AdminLayout";
}

<h2>Department Management</h2>

<div class="row">
    <div class="col-md-6">
        <h4 class="mb-3">Existing Departments</h4>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">@item.DepartmentName</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="mb-3">Add New Department</h4>
        <form asp-action="AddDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*   <div class="form-group">
                 <label asp-for="DepartmentName" class="control-label"></label>
                 <input asp-for="DepartmentName" class="form-control" />
                 <span asp-validation-for="DepartmentName" class="text-danger"></span>
             </div> *@
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Department</button>
            </div>
        </form>
    </div>
</div>